:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.main--div {
  background-color: #1A1B21;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 317px;
  margin-right: -50%;
  padding-bottom: 0px;
  transform: translate(-50%, -50%);
  border-radius: 10px 10px 10px 10px;
}


.info--div {

  text-align: center;
  padding-top:30px;
}

.info--div > img {
 
    pointer-events: none
  
}

.info--div>h2 {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;

}

.info--div>h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #F3BF99;
  margin-top: -15px;

}

.info--div>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 12.24px;
  text-align: center;
  margin-top: -20px;

  color: #F5F5F5;

}

.info--div>p>a {
  color: white;
}

.button--space {
  display: flex;
  justify-content: space-around;
}

.button--space>button>p {
  color: white;
}

.button--space>button {
  width: 115px;
  height: 34px;
  left: 151px;
  top: 468px;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;

}

.email--button {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background: #FFFFFF;
  /* gray/300 */

  border: 1px solid #D1D5DB;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */


  /* gray/700 */

  color: #374151;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}



.linkedin--button {
  background: #5093E2;
  color: white;


  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.about--div {
  padding-left: 19px;
  padding-right: 19px;
}

.about--div > p {
  font-family: 'Inter';
  font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* or 15px */


color: #DCDCDC;

}

.int--div {
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom:30px;
}

.int--div > p {
  font-family: 'Inter';
  font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* or 15px */


color: #DCDCDC;

}

footer {
  background: #161619;
border-radius: 0px 0px 10px 10px;
flex-grow: 1;
justify-content: space-around;
text-align: center;
padding-block: 10px;
}

footer > i {
  font-size: 35px;
  justify-content: space-around;
  padding: 5px 10px 5px 10px;
  opacity: 50%;
}